* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
     }
   
   body {
     background-color: #b3b8b9;  
     justify-content: center;
     align-items: center;
     display: flex;
     min-height: 100vh;
     background-image: url("https://images.pexels.com/photos/2101187/pexels-photo-2101187.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
     background-size: cover;
       }
.box {
    background-color: #924201;
    padding-left: 60px;
    padding: 60px;
    border-radius: 45px;
}

.box h2 {
    margin-bottom: 40px;
   text-align: center;
   font-size: 26px;
   color: #f8dccb;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-shadow: 2px 2px black;
}
input {
    padding: 20px;
    user-select: none;
    height: 50px;
    width: 400px;
    border-radius: 8px;
    border: none;
    border: 2px solid #632e00;
    outline: none;
    font-size: 22px;
}
 input ::placeholder {
     font-size: 26px;
 }

 #btnGen {
     display: flex;
     font-size: 20px;
     font-weight: 500;
     background-color: #f5be91;
     color: #000000;
     justify-content: center;
     cursor: pointer;
     text-align: center;
     margin-top: 40px;
     width: 150px;
     height: 50px;
     padding-top: 10px;
     margin-left: 30%;
     text-shadow: #271201;
     border-radius: 25px;
 }
 #btnGen:hover {
     color: #f2f5d6;
     background-color: #583302;
 }